html,
body {
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

// Styled scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
  &:hover {
    background: darken($primary-color, 15);
  }
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $black;
}

.wrap {
  overflow: hidden;
  min-width: 320px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

a {
  transition: color 200ms;
}

.js-off-canvas-overlay {
  -webkit-tap-highlight-color: transparent;
}

svg {
  display: block;
}

.lead {
  color: $gray70;
  letter-spacing: -0.01em;
}

h1,
.h1 {
  letter-spacing: 0.04em;
}

h2,
.h2 {
  letter-spacing: 0.04em;
}

h3,
.h3 {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.lead {
  @include breakpoint(small down) {
    font-size: 16px;
    br {
      display: none;
    }
  }
}
