.menu {
  letter-spacing: -0.01em;
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  &--footer {
    margin-left: 60px;
    a {
      text-decoration: underline;
      color: $gray80;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
