section.grid-container.ecosystem
  .grid-x.grid-margin-x.large-up-2
    .cell
      img(
        srcset=`https://picsum.photos/1240/554 2x, https://picsum.photos/620/277 1x`,
        src=`https://picsum.photos/620/277`,
        alt='AXIS ECOSYSTEM'
      )
    .cell.ecosystem_content
      h2
        | AXIS ECOSYSTEM
      p.lead
        | Axis Protocol is set to re-establish industrial standards for blockchain adoption. Creating an interconnected blockchain ecosystem across from different industries is our main goal.
      .button_group
        a.button(href='#')
          | Read Pitch
        a.button(href='#')
          | Early access
