footer.footer.grid-container
  +social
  +menu([{
    title: 'Terms and Conditions',
    link: '#'
  }, {
    title: 'Privacy Policy',
    link: '#'
  }]).menu--footer
  .footer_copyright
    | © 2020 Axis. All right reserved
  a.footer_powered(href='https://min.studio', target='_blank')
    | Design by Minimal
