header.header
  .grid-container.header_inner
    .header_logo
      img(src='./assets/img/logo.svg', alt='Protocol by Axis')
    +menu
    .header_actions
      a.button.clear(href='#')
        | Early access
