section.hero
  .grid-container.hero_inner
    .hero_content
      h1
        | The next
        br
        |
        | generation
        br
        |
        | smart contract platform
      p.lead
        | Axis Protocol designed to reimagine, redefine,
        br
        |
        | re-establish blockchain mass adoption
      .button_group
        a.button(href='#')
          | Read Pitch
        a.button(href='#')
          | One pager
    .hero_image
      img(src='./assets/img/hero.svg', alt='Platform')
