section.grid-container.join
  .grid-x.grid-margin-x.large-up-2
    .cell.join_content
      h2.h1
        | Join for
        br
        |
        | Early Access
      p.lead
        | Start developing fast and secure dapps right now
      form.form(action='')
        input(type='email', placeholder='Your Email', required)
        button.button
          | Request access
    .cell
      img(
        srcset=`https://picsum.photos/1240/720 2x, https://picsum.photos/620/360 1x`,
        src=`https://picsum.photos/620/360`,
        alt='Join'
      )
