section.grid-container.join
  .grid-x.grid-margin-x.join_inner
    .cell.xlarge-6.large-7.join_content
      h2.h1
        | Join for
        br
        |
        | Early Access
      p.lead
        | Start developing fast and secure dapps right now
      form.form(action='')
        input(type='email', placeholder='Your Email', required)
        button.button
          | Request access
    .cell.xlarge-6.large-5
      img(src='./assets/img/join.svg', alt='Join')
