mixin menu(data)
  -
    const menu = data || [
      {
          title: 'Overview',
          link: '#overview'
      },
      {
          title: 'Features',
          link: '#features'
      },
      {
          title: 'Roadmap',
          link: '#roadmap'
      },
    ]

  ul.menu&attributes(attributes)
    each item in menu
      li
        a(href=item.link)
          = item.title
