extends ../_layout

block content
  include ../sections/_hero
  include ../sections/_develop
  include ../sections/_features
  include ../sections/_ecosystem
  //- include ../sections/_roadmap
  include ../sections/_join
